<main>
  <section class='section-form'>
    <form>
      <fieldset>
        <legend>Productos</legend>
        <input
          type='text'
          name='title'
          ,
          placeholder='Nombre del producto'
          required
        />
        <input type='number' name='price' , placeholder='Precio' required />
        <input
          type='text'
          name='thumbnail'
          ,
          placeholder='URL Imagen'
          required
        />
        <input type='submit' id='submit' />
      </fieldset>
    </form>
  </section>

  <section class='product-list'>
    <table style='border: 1px solid black;' id='product-list'>

    </table>
  </section>

  <form>
    <input type='email' id='email' placeholder='email' required />
    <input type='text' id='message' placeholder='Cuéntanos algo...' required />
    <input type='submit' value='Enviar' id='submit-messages' />
  </form>

  <div id='messages'></div>

</main>